:root {
    /* Image paths */
    --logo: url('../assets/images/som_de_mar_logo_light.png');
    --hero-bg: url('../assets/images/dish-2.jpg');
    --staff-fun: url('../assets/images/staff-fun3.jpg');
    --location-bg: url('../assets/images/location-bg.jpg');
    --dish-1: url('../assets/images/dish-1.jpg');
    --dish-2: url('../assets/images/dish-2.jpg');
    --dish-3: url('../assets/images/dish-3.jpg');
    --dish-4: url('../assets/images/atun_chop.jpeg');
    --dish-5: url('../assets/images/pulpo_plancha.jpg');
    --dish-6: url('../assets/images/pulpo_kinfe.jpg');
    --dish-7: url('../assets/images/patatas.jpg');
    --dish-8: url('../assets/images/postre_close.jpg');
    --dish-9: url('../assets/images/gambas_plate.jpeg');
    --dish-10: url('../assets/images/arty_dish.jpeg');
    --banner-bg: url('../assets/images/patatas.jpg');
    --video-bg: url('../assets/videos/somdemarsmallcooking.mp4');
    --modal-bg: url('../assets/images/nochemodal2.png');
    --modal-sm: url('../assets/images/modal-mobile.png');
}
